map-page {
  .scroll-inner {
    height: 100%;
    width: 100%;
  }

  .mapa {
    height: 100%;
    width: 100%;
  }

  canvas{
    display: none;
  }

  .refresh-fab {
    transition: transform 100ms ease-in-out;
  }

  .hidden-fab {
    transform: translateY(70px)
  }

  .wait-meme {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.08;
    pointer-events: none;
    z-index: -1;
  }

  .rate {
    will-change: transform;
    position: absolute;
    bottom: -65px;
    left: 0;
    display: flex;
    align-items: center;
    mix-blend-mode: color-dodge;
    transition: transform 800ms ease-in-out;

    >div {
      flex: 1;
    }

    .score {
      font-family: 'Lobster', cursive;
      font-size: 90px;
      text-align: center;
      color: white;

      mix-blend-mode: inherit;
    }

    .line {
      width: 50px;
      height: 5px;
      margin-right: 10px;
      background: white;
      mix-blend-mode: inherit;
    }
  }
}